# Special rules for document loader tests
# Rewrite engine setup
RewriteEngine On
RewriteBase /tests/test014

# Add link header
<FilesMatch "test014.csv">
  Header set Link '<test014-linked-metadata.json>; rel="describedby"'
</FilesMatch>
